.acs-credentials__accessory {
  align-self: center;
  grid-column: 3;
}

.acs-credentials__button {
  font-family: inherit;
  font-size: inherit;
}

.acs-credentials__form {
  display: grid;
  font-size: 75%;
  gap: 5px;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
}

.acs-credentials__input {
  align-self: center;
  font-family: inherit;
  font-size: inherit;
  grid-column: 2;
}

.acs-credentials__label {
  align-self: center;
  grid-column: 1;
}

.acs-credentials__red-text {
  color: Red;
}
